/* fUENTES  */
p {
  font-family:"Dancing Script";
}
a{
  font-family:"Dancing Script";
}
h1{
  font-family:"Dancing Script";
}

/* Animacion */

@keyframes miAnimacion {
  0%{
    margin-top:150%;
  }
  70%{
    margin-top:-5%;
  }
  80%{
    margin-top:5%;
  }

}

body{
  background-color: #02010a;
}
#Contenido{
  width: 1300px;
  height: auto;
  display:  block;
  margin: auto;
  background-color: #02010a;
   transition: background 1s;
  animation: miAnimacion 3s; 
}
#Encabezado{
  background-color: #5b7989;
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0  ;
  display: flex;
  margin: 20px auto;
}
h1{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  padding-left: 100px;
}

.menu{

  padding-top: 20px;
  padding-left: 50%;;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 5px;
}
.menu li {
  display: inline-block;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}
section {
  width: 100%;
  background-color: #82c3a6;
  margin-top: 10px;
  display: block;
  margin: auto;
 }
 section figure img{
   width: 70%;
 }

section img{
  width: 30%;
  display: block;
  margin: 20px auto;
  padding: 2px;


}

.paseimg {
  flex-wrap: wrap;
}

.reseimg{
  flex-wrap: wrap;
}

footer{
  width: 100%;
  height: auto;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  align-items: center;
  column-count: 4;
  display:block;

}

@keyframes miAnimacion {
  0%{
    margin-top:150%;
  }
  70%{
    margin-top:-5%;
  }
  80%{
    margin-top:5%;
  }

}
div  {
  width: 100%;
  height: auto;
  border: 10px;
  background-color: #d5c75f;
  display:inline-flex;
  margin-top: 10px;

}

.imgsect2 {
  margin: 1px;
  width: 400px;
  border: 1px;
  height: auto;
  display: inline-block;
  margin: auto;
}
.imgsect2{
position: relative;
transition: all 1s ease;
transform: perspective(600px);
transform-origin: 100% 50%;
transform-style: preserve-3d;
}

.imgsect1:hover{
/* transform: perspective(600px) rotateY(-180deg) translateX(100%); */
transform: rotate(10deg);
border: 2px;
 box-shadow: 0 4px 8px 0 #82c3a6, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgsect2:hover{
  transform:  translate(15px, -20px);
  border: 2px;
  box-shadow: 5px 10px  5px 10px #82c3a6;
}


.lor1, .lor2,.lor3, .lor4 {
  /* background-color: gray; */
padding: 15px;
width: 90%;
height: auto;
color: black;
}
.lor3 img{
  width: 50px;
  height: 50px;
  border-radius: 220px;
}

.paseimg img.psimg1:hover {
  filter: blur(5px);
}
.paseimg img.psimg2:hover,img.psimg4:hover,img.psimg6:hover{
filter: grayscale(100%);
}
.paseimg img.psimg3:hover{
  filter: sepia(90%);
}


.reseimg img.psimg1 {
  filter: blur(5px);
}
.reseimg img.psimg2,img.psimg4,img.psimg6{
filter: grayscale(100%);
}
.reseimg img.psimg3{
  filter: sepia(90%);
}
img{
box-shadow: 2px 2px 2px #02010a;
}
img.footim{

  border: 1.2px;
  box-shadow: 5px 1px  5px 1px #C6d5c5;
}

#Pacontenimg1{
  width: 890px;
  height: 300px;
  background-color: blue;
  display: block;
  margin: auto;
}

.Paisecimg1{
  display: block;
  margin: auto;
  border: 20pz;
}
section.Paisecimg1 img{
  width: 260px;
  height: auto;
  padding-left: 20px;
  margin: auto;

}


      @media screen and (max-width:1124px) {
        #Contenido{
          width: 100%;
        }
        section{
          width: 100%;
        }
        section figure img{
          width: 90%;
        }
   div {
     display: inline-block;
     width: 100%;
   }
   div img {
     width: 90%;

   }
   .imgsect img{
     width: 90%;
     margin: 20px;
     border: 20px;
     margin-left: auto;
     margin-right: auto;
     display: flex;




    }

        #Encabezado{
          width: 100%;
          display: inline-table;
          margin: auto;
          text-align: center;

        }

        img{
          width: 100%;
          height: auto;
        }
  .menu ul{
    position: relative;
    top: -20px; left: -200px;
  }



  #Pacontenimg1{
    background-color: red;

  }
  .Paisecimg1 {
    width: 98%;
    height: auto;
    display: block;
    margin:auto;
    padding: 20px;
    box-shadow: 2px 2px 2px #02010a;

  }
footer{
        column-count: 1;
        display:block;
        }
  }
}
